# будет игнорироваться относительно файла .gitignore
/venv/
/tmp/
/.idea/

# будут игнорироваться все файлы, заканчивающиеся суффиксами _old и _backup
*_old
*_backup

# будут игнорироваться все файлы Thumbs.db в любых каталогах
Thumbs.db

# будут игнорироваться все файлы .DS_Store
.DS_Store